# локально: 127.0.0.1; в Docker Compose для php задаётся DB_HOST=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=blog
DB_USER=blog
DB_PASSWORD=secret

# размер страницы списка статей в категории
POSTS_PER_PAGE=5
